.radio-picker__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -1px;
  padding: 0.4em 0;
  border-bottom: 1px solid #c8c8c8;
  font-size: 16px;
  color: #002b56;
  background: #ffffff;
  cursor: pointer;
}

.radio-picker__radio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin: 0 20px 0 0;
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  box-sizing: border-box;
}

.radio-picker__radio--selected {
  color: #002b56;
  background-color: #ffffff;
}
